main{
	background-color: #f1f1f1;
}

p{
	margin: 0;
}

a:hover{
	text-decoration: none
}

input[type="text"], input[type="password"], input[type="email"], select{
	border: none;
	border-bottom: 1px solid #2ea3dd;
	outline: none 
}



.form-control:focus{
	border-color: transparent!important;

}

.form-control{
	display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #2ea3dd;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

input[type="text"]:focus{
	outline: none 
}

.flex-direction-column{
	flex-direction: column
}


.h-100{
	height: 100px
}

.h-200{
	height: 200px
}

.h-300{
	height: 300px
}

.w-100{
	width: 100%
}

.w-90{
	width: 90%
}

.w-80{
	width: 80%
}

.w-70{
	width: 70%
}

.w-60{
	width: 60%
}

.w-50{
	width: 50%
}

.w-40{
	width: 40%
}

.w-30{
	width: 30%
}


.w-20{
	width: 20%
}

.w-10{
	width: 10%
}

.w-99{
	width: 99%
}


.w-66{
	width: 66%
}


.w-33{
	width: 33%
}


.w-31{
	width: 31%
}

.mk-margin{
	padding-top: 100px;
	min-height: 100vh;
	padding-bottom: 100px
}

.icard{
	display: none
}

.MAIN{
	min-height: 100vh
}

.icard.active{
	display: block
}

.hero-absolute{
	position: absolute;
}


._primary{
	color: #2ea3dd;
}

.profile-img img{
	border-radius: 50%;
	cursor: pointer;
}

.swal-text{
	text-align: center
}


.title-shadow-content{
	width: 100%;
    text-align: center;
    position: relative;
    min-height: 150px
}


.title-shadow{
	font-size: 100px;
	font-weight: bold;
	color: rgba(0,0,0, .1);
	position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.title-shadow-text{
	display: flex;
	justify-content: center;
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    z-index: 11;
}

.title-shadow-text h3:nth-child(1){
	margin-right: 10px;
	font-size: 40px;
	color: #373a3c;
	font-weight: 500;


}

.title-shadow-text h3:nth-child(2){
	font-size: 40px;
	color: #2ea3dd;
	font-weight: 500;

}

.title-mark{
	text-align: center;
	width: 100%;
	max-width: 100%
}

.title-mark h3{
	font-weight: bold;
	font-size: 20px
}

.title-mark .blue-line{
	width: 50px;
	height: 2px;
	background-color: #2ea3dd;
	margin:auto;
}

.content-concept{
	width: 100%;
}


.text-concept{
	width: 70%;
	margin: auto;
	text-align: center
}


.button-concept{
	width: 100%;
	text-align: center;
	margin: 20px 0;
}

.item-profiles{
	height: 350px
}

.item-profiles img{
	object-fit: cover;
	height: 100%
}

.item-profiles .card-body{
	position: absolute;
	background-color: #fff;
	width: 100%;
	bottom: 0;
	padding: 10px
}

.modal-member .modal-content{
	background-color: #f1f1f1;
}

.modal-member .modal-dialog{
	max-width: 800px
}

.modal-member .modal-dialog img{
	width: 100px
}

.modal-member .modal-dialog td{
	font-size: 12px;
	font-weight: bold;
	padding: 5px
}

.modal-member .close{
	position: absolute;
	right: 10px;
	outline: none;
	z-index: 5

}

.content-profile-image img{
	height: 150px;
	width: 150px;
	object-fit: cover
}


/*===========navbar==============*/



 ._navbar{
 	background-color: rgba(0,0,0,.5);
 	border-bottom: #2ea3dd solid 1px
 }

 ._navbar .nav-link{
 	text-transform: uppercase;
 	color: #fff;
 	font-weight: 500
 }




 

 .choose-gender img{
 	width: 30px
 }

 .newsletter .conter-1{
 	display: flex;
 	align-items: center
 }

 .newsletter .btn-see-profile{
 	margin: auto;
 }


.img-box{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 200px;
	
}

.item-profile-main-image{
  height: 350px;
  overflow: hidden;
}

.item-profile-image{
  height: 80px;
  overflow: hidden;
  margin-bottom: 10px;
  border-bottom: 5px solid transparent;
}

.item-profile-image.active{
	border-bottom: 5px solid #2ea3dd;
}

.item-profile-image:last-child{
  margin-bottom: 0
}

.item-profile-image img{
  object-fit: cover;
}


.card.card-profile{
	border-radius: 5px;
	padding: 3px 
}

.profile-section{
	min-height: 450px;
	padding-top: 50px
}

.profile-nombre span{
	font-weight: bold;
}

.profile-nombre {
	padding: 10px 0;
}

.profile-title h5{
	font-weight: bold;
	margin: 0
}

.profile-pestanas{
	margin: 15px 0;
}

.profile-content{
	display: none
}

.profile-content.active{
	display: block
}

.card-content-profile{
	min-height: 250px;
	padding: 20px 30px
}

/*===========newsletter==============*/

section.newsletter{
	background-image: url('../img/fondo.jpg');
	background-size: cover;
	min-height: 300px;
	margin-bottom: 70px
}

section.newsletter .card-newsletter{
	margin-top: -50px;
	padding: 10px
}

section.title-newsletter{
 	font-weight: 500
}


section.newsletter h5{
	font-weight: 500;
	margin: 0
}

section.newsletter .conter-1,
section.newsletter .conter-3{
	width: 125px;
	justify-content: space-between;
}

section.newsletter .choose-gender{
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	width: 50%;
 	margin: auto;
 	height: 30px; 
 	margin-top: 20px
 }

section.newsletter .choose-gender .conter-1,
section.newsletter .choose-gender .conter-2,
section.newsletter .choose-gender .conter-3{
	height: 30px
}

section.newsletter .card-newsletter{
	height: 145px
}

section.newsletter .title-newsletter{
	font-weight: 500
}

section.newsletter .btn-see-profile{
	margin-top: 30px
}

section.newsletter .subtitle-newsletter{
	margin-top: 40px
}

section.newsletter .line-blue{
	height: 1px;
	width: 150px;
	background-color: #2ea3dd;
	margin:auto;
	margin-top: 15px
}

section.newsletter .form-newsletter{
   max-width: 350px;
   height: 40px;
   margin: auto;
   position: relative;
   margin-top: 20px
}

section.newsletter .form-newsletter input{
	width: 100%;
	height: 40px;
	border: solid 1px #2ea3dd;
	padding: 0 10px
}

section.newsletter .form-newsletter button{
	position: absolute;
	right: 0;
	top: 0;
	background-color: #2ea3dd;
	height: 40px;
	width: 40px;
	color: #fff;
	border: none;
}

section.concept{
	min-height: 500px;
	display: flex;
	align-items: center;
	margin-bottom: 70px
}

section.concept .container-foto{
	height: 100%
}

section.concept .container-foto img{
	height: 400px;
	width: 400px;
	position: absolute;
	z-index: 3
}

section.concept .div-blue{
	height: 150px;
	background-color: #2ea3dd;
	width: 100%;
	position: relative;
	z-index: 2;

}

section.about{
	min-height: 500px;
	margin-bottom: 70px
	

}

section.about .about-img{
	overflow: hidden;
	height: 100%;
	max-width: 100%
}

section.about .about-img img{
	object-fit: cover
}

section.about .item-about{
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-bottom: 15px
}


section.about .item-about .item-img{
	width: 55px;
	margin-right: 10px
}

section.about .item-content{
	font-weight: 500;
	
}

section.about .item-content h4{
	font-size: 0.9rem;
	max-width: 200px;
	font-weight: 500
}

section.about .uno .title-shadow,
section.about .uno .title-shadow-text{
	left: 60px;
	transform: initial;
}

section.about .dos .title-shadow,
section.about .dos .title-shadow-text{
	left: auto;
	right: 60px;
	transform: initial;
}

section.about .item-about.dos .item-content h4{
	text-align: right;
}

section.about .dopy .item-about{
	justify-content: flex-end;
}

section.about .dopy .item-about .item-img{
	margin-right: 0
}

section.about .dopy .item-about{
	margin-right: 40px;
	margin-left: 0
}

section.about .about-row-1{
	margin-bottom: 50px
}

section.porque{
	padding-bottom: 70px;
	min-height: 500px
}
section.porque .nop-icon-one-content h3, .nop-two-one h3{
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.76);
  font-size: 28px
}

section.porque .nop-icon-one-content h2, .nop-two-one h2{
  color: #2ea3dd;
  font-weight: 500;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.76);
  font-size: 32px
}

section.porque .xq{
  font-size: 11px;
  padding: 7px 20px;
}

section.porque .nuestro-one-img-box{
	position: relative;
}


section.porque .nuestro-one-img-box .nop-one{
	position: absolute;
	width: 100%;
	padding: 10px 10px 10px 40px
}

section.porque .nuestro-one-img-box .nop-one-three{

}



section.porque .nop-icon-one{
  display: none;
  margin-top: -20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

section.porque .nop-one-two{
  display: none;
  margin-right: 0px;
  margin-bottom: 0px
}

section.porque .nop-one-three{
	text-align: right;
}

section.porque .over .nop-button-box{
  text-align: center;
}

section.porque .nop-one{
  bottom: 5px;
  top: auto;
  transition: all 1s linear;

}

section.porque .over .nop-one{
  bottom: auto;
  top: 30%;
  transition: all 1s linear;
}

section.porque .nuestro-one-img-box.over .nop-icon-one{
  visibility: visible;
   opacity: 1;
}

section.porque .nop-icon-one-content{
  transition: all .4s ease-in-out;
  min-height: 120px
}

section.eventos{

	min-height: 500px
}

section.eventos .div-blue{
	height: 150px;
	background-color: #2ea3dd;
	width: 100%;
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 0;
	transform: translateY(-50%);

}

section.eventos .row-eventos{
	min-height: 500px;
	align-items: center

}

section.eventos .eventos-grid-2{
	height: 100%;
	position: relative;
}

section.eventos .card{
	position: relative;
	z-index: 10
}

section.eventos .card .card-content{
	padding: 10px;
	text-align: center
}

section.eventos .card .card-content p{
	margin-bottom: 10px
}

section.eventos .card h6{
	margin-bottom: 5px
}

section.eventos .eventos-subtitle{
	text-align: center;
}

section.eventos .eventos-subtitle h6{
	font-weight: 500;

}

section.eventos .blue-line{
	height: 1px;
	width: 50px;
	background-color: #2ea3dd;
	margin: 0 auto;
}

section.eventos .eventos-subtitle p{
	
	width: 80%;
	margin: 0 auto;
}

section.travesia{
	min-height: 500px;
	margin-bottom: 70px
}

section.travesia .title-shadow-text{
	flex-direction: column;
}

section.travesia .title-shadow-text h3:nth-child(1){
	margin-bottom: 0
}


section.travesia .title-shadow-text h3:nth-child(2){
	font-size: 20px;
	margin-left: 100px
}

section.travesia .travesia-box{
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

section.travesia .grand{
  overflow: hidden;
}

section.travesia .grand img{
  transition: all .3s ease-in-out;

}

section.travesia .grand:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

section.travesia .travesia-box .img-1,
section.travesia .travesia-box .img-2,
section.travesia .travesia-box .img-3,
section.travesia .travesia-box .img-4,
section.travesia .travesia-box .img-5,
section.travesia .travesia-box .img-6,
section.travesia .travesia-box .img-7,
section.travesia .travesia-box .img-8{
  margin: 5px;
  overflow: hidden;
}

section.travesia .travesia-box img{
  object-fit: cover;
  height: 100%
}

section.travesia .travesia-box .img-3,
section.travesia .travesia-box .img-6,
section.travesia .travesia-box .img-7{
  position: relative;
}

section.travesia .travesia-box .tra-text{
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  z-index: 5;
  transform: translate(-50%, -50% );
  flex-direction: column;
  width: 80%
}

section.travesia .travesia-box .tra-text p{
  margin: 0;
  font-size: 13px
}

section.travesia .travesia-title-box{
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center
}

section.testimonios{
	min-height: 500px;
	padding-bottom: 100px
}


section.testimonios .testy{
	margin-bottom: 40px
}

section.testimonios .testy img{
	border-radius: 50%
}

section.testimonios .testy .hola{
	font-size: .8rem;
	font-weight: bold;
	color: dimgrey;
}

section.testimonios .testy .hola2{
	font-size: .8rem;
	font-weight: 300;
	color: dimgrey;
}

section.testimonios .testy h5{
	margin: 0;
	font-weight: 500
}


section.login .form-group{
	flex-wrap: nowrap;

}

section.login .c input{
	width: 100%
}



section.register .form-group{
	flex-wrap: nowrap;

}

section.register .c{
	width: 100%
}

section.register .c input{
	width: 100%
}

section .box-carousel-members{
	
}

section.carousel-members .carousel-control-next,
section.carousel-members .carousel-control-prev{
	display: none
}


section .box-carousel-members{
	height: 400px;
	overflow: hidden;

}

section .box-carousel-members .img-prev,
section .box-carousel-members .img-next{
	width: 30px
}


section.carousel-members .carousel-inner{
	height: 460px
}

section.carousel-members .carousel-inner img{
	height: 360px
}

section.carousel-members .box-carousel-members{
	height: 100vh
}

section.carousel-members .content-carousel-members{
	padding: 25px 20px 10px 20px;
}

section.carousel-members .content-carousel-members h5{
	font-weight: bold;
	margin-bottom: 0
}

section.carousel-members .flechas{
	height: 50%
}

section.carousel-members .img-box{
	height: 200px;
	overflow: hidden;
}

section.carousel-members .title-ours-members{
	
	margin-top: 25px;
	display: flex;
	justify-content: flex-start;
}

section.carousel-members .p-ours-members{
	max-width: 40%;
	margin-bottom: 25px;
	font-weight: 500
}


section.carousel-members .title-ours-members h3{
	font-weight: bold
}

section.carousel-members .title-ours-members h3:nth-child(2){
	color:  #2ea3dd;
	margin-left: 10px
}

section.carousel-members .panel-sign-up h6{
	font-weight: 500

}

section.carousel-members .panel-sign-up p{
	margin-bottom: 10px

}


section.all-testimonies{
	min-height: 100vh
}

section.all-testimonies .card{
	margin-bottom: 10px
}

section.profile .menu-profile li{
	
	cursor: pointer;
	width: 100%;
	list-style: none;
	padding: 10px;
	height: 40px;


}

section.profile .menu-profile li.active{
	color: #fff;
	background-color: #2ea3dd;
	margin: 0;
}

section.profile .menu-profile{
	padding: 0;
	list-style: none;
	margin: 0

}


section.profile .total{
	min-height: 300px
}