jQuery(document).ready(function(){
    $('.black-container').on('click', function(){
      $(this).addClass('activa');
    })

    $('#prueba').on('click', function(e){
      e.preventDefault()
      alert("click");
    })

    jQuery('.thumbnail-single').materialbox();
    $(window).scroll(function(){
      if($(this).scrollTop() > 100){
        $('.nav-tiamo').addClass('scroll');
        $('.nav-tiamo .brand').addClass('scrollT');
        // $('nav .menu-category').fadeOut()
      }else{
        $('.nav-tiamo').removeClass('scroll');
        $('.nav-tiamo .brand').removeClass('scrollT');
        // $('nav .menu-category').fadeIn()
      }
    })

    $('.footer .tnp-form').append('<img class="airplane-footer" style="width: 30px; height: 30px; position: absolute; top: 3px; right: 1%; z-index: 20" src="http://pagarenlinea.com/pruebatiamo/wp-content/uploads/2018/11/airplane.png">')
    $('.footer .tnp-email').attr('placeholder', 'Suscríbete')
    $('span[property="itemListElement"]:first-child').prepend("<div class='back-btn'><button onclick='goBack()'><img src='http://pagarenlinea.com/pruebatiamo/wp-content/uploads/2018/11/previcon.png'> Atrás<button></div>")
    $('.menus .search-form').append('<i class="fas fa-search"></i>');
    $('.bars-responsive').on('click', function(){
      $('.menus.mobile').toggleClass('view');
    })
    console.log($('.breadcrumbs').text())


    $('.landing-menu-item .ioc').on('click', function(){
      $('.buttonWave').click()
    })






const listaActividadesUI = document.querySelector('#wish-content');
let arrayActividades = localStorage.productos==null?[]:JSON.parse(localStorage.getItem('productos'));

//function
const CrearItem =(name_product, img_u, colors, sizes, product_id) =>{
  let item = {
    id : product_id,
    name : name_product,
    img : img_u,
    colors : colors,
    sizes: sizes,
    variables: [
      {
        "v_id": 0,
        "color": colors,
        "size": sizes,
        "cant": "0"
      }

    ]

  }

  arrayActividades.push(item);

  return item;
}

const GuardarDB = ()=>{
  localStorage.setItem('productos', JSON.stringify(arrayActividades));

  PintarDB();
}

const PintarDB = ()=>{
  listaActividadesUI.innerHTML = '';

  if(arrayActividades === null){
    arrayActividades = [];
  }else{
    function counter(array, red){
      var html = "";
      for(i=0; i < array.length; i++ ){
         html +=
         `<div class="wish-attr" id="${array[i].v_id}">
          <div class="wish-remove">
            <a href="javascript:void(0)" onclick="remove(${red})">X</a>
          </div>
          <div class="wish-color">
            <div class="wish-content-color">
              ${ array[i].color}
            </div>
          </div>
          <div class="wish-size">
            <div class="wish-name-size"></div>
            <div class="wish-content-size">
              <select class="box-size">
                ${ array[i].size}
              </select>
            </div>
          </div>
          <div class="wish-cant">
            <div class="wish-name-cant"></div>
            <div class="wish-content-cant">
              <select name="" id="" class="select-cant">
                <option value="">1</option>
                <option value="">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          </div>`;
      }

      return html;
    }
    arrayActividades.forEach(Element =>{
      listaActividadesUI.innerHTML += `<div class="wish-content-product">
          <div class="wish-img">
            <img src="${Element.img}" alt="">
          </div>
          <div class="wish-detail" id="${Element.id}">
            <div class="wish-title-product">
              <h3>${Element.name}</h3>
            </div>
            <div class="wish-attr-name">
              <div class="wish-title-color">COLOR</div>
              <div class="wish-title-size">TALLA</div>
              <div class="wish-title-cant">CANTIDAD</div>
            </div>
            <div class="wish-name-color-ctn">
              <p class="wish-name-color"></p>
            </div>

            <div id="attrAppend${Element.id}" name="${Element.id}">
              ${counter(Element.variables, Element.id)}
            </div>
            <div class="wish-add">
              <a href="#">Añadir</a>
            </div>
            <div class="wish-total">
              <div class="wish-total-detail">
                <h4>TOTAL CANTIDAD:<span></span></h4>
              </div>
            </div>
            </div>
          </div>
      </div>`;
    })
  }
}
//EventListener

$('#wish-btn-single').on('click', function(e){
  var arraySizes = [];
  e.preventDefault();
  let colors = $(".colors-ctn").html()
  let img_u = $('.material-placeholder img').attr('src');
  let name_product = $('.single-title').html();
  $(".size-box .sizes").each(function(){
      arraySizes.push($(this).html())
  });

  var options = "";
  for(var i = 0; i < arraySizes.length; i++){
    options+= '<option class="size-options" value="'+arraySizes[i]+'">'+ arraySizes[i]+'</option>';
  }


  $('.wish-global')


  let product_id = parseInt($('.span-id').attr('id'));



  CrearItem(name_product, img_u, colors, options, product_id);

  GuardarDB();


})

PintarDB();

$(document).ready(function(){
  // const PintarDB = ()=>{
  //   listaActividadesUI.innerHTML = '';
  //
  //   if(arrayActividades === null){
  //     arrayActividades = [];
  //   }else{
  //     function counter(array, red){
  //       var html = "";
  //       for(i=0; i < array.length; i++ ){
  //          html +=
  //          `<div class="wish-attr" id="${array[i].v_id}">
  //           <div class="wish-remove">
  //             <a href="javascript:void(0)" onclick="remove(${red})">X</a>
  //           </div>
  //           <div class="wish-color">
  //             <div class="wish-content-color">
  //               ${ array[i].color}
  //             </div>
  //           </div>
  //           <div class="wish-size">
  //             <div class="wish-name-size"></div>
  //             <div class="wish-content-size">
  //               <select class="box-size">
  //                 ${ array[i].size}
  //               </select>
  //             </div>
  //           </div>
  //           <div class="wish-cant">
  //             <div class="wish-name-cant"></div>
  //             <div class="wish-content-cant">
  //               <select name="" id="" class="select-cant">
  //                 <option value="">1</option>
  //                 <option value="">2</option>
  //                 <option value="3">3</option>
  //                 <option value="4">4</option>
  //                 <option value="5">5</option>
  //                 <option value="6">6</option>
  //                 <option value="7">7</option>
  //                 <option value="8">8</option>
  //                 <option value="9">9</option>
  //                 <option value="10">10</option>
  //               </select>
  //             </div>
  //           </div>
  //           </div>`;
  //       }
  //
  //       return html;
  //     }
  //     arrayActividades.forEach(Element =>{
  //       listaActividadesUI.innerHTML += `<div class="wish-content-product">
  //           <div class="wish-img">
  //             <img src="${Element.img}" alt="">
  //           </div>
  //           <div class="wish-detail">
  //             <div class="wish-title-product">
  //               <h3>${Element.name}</h3>
  //             </div>
  //             <div class="wish-attr-name">
  //               <div class="wish-title-color">COLOR</div>
  //               <div class="wish-title-size">TALLA</div>
  //               <div class="wish-title-cant">CANTIDAD</div>
  //             </div>
  //             <div class="wish-name-color-ctn">
  //               <p class="wish-name-color"></p>
  //             </div>
  //
  //             <div id="attrAppend${Element.id}" name="${Element.id}">
  //               ${counter(Element.variables, Element.id)}
  //             </div>
  //             <div class="wish-add">
  //               <a href="#">Añadir</a>
  //             </div>
  //             <div class="wish-total">
  //               <div class="wish-total-detail">
  //                 <h4>TOTAL CANTIDAD:<span></span></h4>
  //               </div>
  //             </div>
  //             </div>
  //           </div>
  //       </div>`;
  //     })
  //   }
  // }
  $('.wish-content-color div').on('click', function(){
    let parentId = $(this).parent().parent().parent().parent().attr('id');
    let inx = $(this).parent().parent().parent().attr('id');
    let selector = '#'+parentId+' #'+ inx +' .wish-content-color div';
    console.log(selector);
    $(selector).removeClass('activado')
    $(this).addClass('activado');
    let id = $(this).parent().parent().parent().parent().attr('name');

    changeColor(id, inx);
  })
  //agregar
  $('.wish-add a').on('click', function(e){
    e.preventDefault();
    let ID = $(this).parent().prev().attr('id');
    let colors = $('#'+ID+' .wish-content-color').html();
    let sizes = $('#'+ID+' .wish-content-size .box-size').html();
    let cant =  $('#'+ID+' .wish-content-cant').html();
    let product_id = $(this).parent().prev().attr('name');
    let HTML = $(this).parent().prev().html();
    let datos = localStorage.productos==null?[]:JSON.parse(localStorage.getItem('productos'));
    let resultados = datos.find(e => e.id == product_id);
    let index = resultados.variables.length;
    console.log(index)
    let object = {
      cant: 0,
      color: colors,
      size: sizes,
      v_id: index
    }

    resultados.variables.push(object);
    localStorage.productos = JSON.stringify(datos)
    let listaActividadesUI = $('#wish-content');


    PintarDB()

  })

  function mep(){
    $('#wish-content .wish-content-product').each(function(){
      $(this).find('.wish-attr').each(function(){
        $(this).find('.wish-content-cant .select-cant').each(function(){
          let cant = $(this).find('option:selected').html();

          cant
        })
      })
    });
  }


mep();






  $('.wish-global-button').on('click', function(e){
    e.preventDefault()
    totaler()
  })


  $('.wish-content-size select').on('change', function(){

    $(this).addClass('activado');
    let inx = $(this).parent().parent().parent().attr('id');
    let id = $(this).parent().parent().parent().parent().attr('name')

    changeSize(id, inx);
  })





})


$('.wish-attr').on('click', (e)=>{
  e.preventDefault()

})

$('.wish-content-color div').on('click', function(){
  let id = $(this).parent().parent().parent().attr('id');
})

$('#sizes').on('change', function(){

  $('#sizes').val()
})

 function colors(id, ind, text){
   let datos = localStorage.productos==null?[]:JSON.parse(localStorage.getItem('productos'));
   let resultados = datos.find(e => e.id == id);

   resultados.variables[ind].color = text



   localStorage.productos = JSON.stringify(datos);


 }

});


function colors(id, ind){
  let datos = localStorage.productos==null?[]:JSON.parse(localStorage.getItem('productos'));
  let resultados = datos.find(e => e.id == id);
  let opt = resultados.find(e => e.v_id == ind)
  console.log(opt);

  localStorage.productos = JSON.stringify(datos);

}

function remove(id){
  let datos = localStorage.productos==null?[]:JSON.parse(localStorage.getItem('productos'));
  let resultados = datos.find(e => e.id == id);

}

function goBack() {
    window.history.back();
}

function Clipper(){
  $('#wish-btn-single').fadeOut('slow')
  $('#wish-btn-text').fadeIn('slow');
  counterr();
}

function changeColor(id, inx){
  let append = 'attrAppend'+id;
  let text = $('#'+append).find('.wish-content-color').html();
  console.log(text);
  let datos = localStorage.productos==null?[]:JSON.parse(localStorage.getItem('productos'));
  let resultados = datos.find(e => e.id == id);
  resultados.variables[inx].color = text;

  localStorage.productos = JSON.stringify(datos);
  console.log(datos)

}

function changeSize(id, inx){
  let append = 'attrAppend'+id;
  let text = $('#'+append).find('.wish-content-size').val();
  console.log(text);
  let datos = localStorage.productos==null?[]:JSON.parse(localStorage.getItem('productos'));
  let resultados = datos.find(e => e.id == id);
  resultados.variables[inx].size = text;

  localStorage.productos = JSON.stringify(datos);
  console.log(datos)

}
